/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Global Styles*/

* {
  box-sizing: border-box;
  /*outline: solid 1px red;*/
}

body {
  background-color: #000;
}

h1, h3, p{
  font-family: helvetica;
  color: #fff;
}

/*Layout Styles*/

h1 {
  font-size: 76px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: 600;
}

h3 {
  margin-bottom: 10px;
  outline: white solid 2px;
}

p {
  outline: white solid 2px;
}

.table-container {
  display: flex;
  flex-flow: row wrap;
  min-width: 1200px;
}

.flex-item {
  height: 300px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  width: 100px;


}
.status {
  width: 125px;
}
.project {
  width: 400px;
}
.launch-date{
  width: 125px;
}
.team{
  width: 125px;
}
.remarks{
  width: 400px;
}

.line-item{
  height: 50px;
}
