/*Global Styles*/

* {
  box-sizing: border-box;
  /*outline: solid 1px red;*/
}

body {
  background-color: #000;
}

h1, h3, p{
  font-family: helvetica;
  color: #fff;
}

/*Layout Styles*/

h1 {
  font-size: 76px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: 600;
}

h3 {
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0;
  font-size: 0.8em;
  font-weight: 500;
}

p {
  border: white solid 1px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
}

.left{
  padding-left: 10px;
}
.center{
  text-align: center;
}

.no-border {
  outline: none;
}

.table-container {
  display: flex;
  flex-flow: row wrap;
  min-width: 1150px;
  max-width: 90%;
}

.flex-item {
  height: 275px;
  color: white;
  font-weight: bold;
}
.status {
  width: 10%;
}
.project {
  width: 30%;
}
.launch-date{
  width: 10%;
}
.team{
  width: 10%;
}
.remarks{
  width: 40%;
}

.line-item{
  height: 50px;
  line-height: 50px;
}

.status-Red {
  background-color: red;
  color: red;
}
.status-Yellow {
  background-color: yellow;
  color: yellow;
}

.status-Green {
  background-color: green;
  color: green;
}
